<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta name= "viewport" content="width=device-width,initial-scale=1">
<title>IFVG</title>
<link href="images/favicon.png" rel="shortcut icon">
<link href="css/main.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

<meta property="og:image" content="img/logo2.jpg" />
<meta property="og:description" content="Iza Valle, Graphic Designer, Portfolio.">
<meta property="og:url" content="http://izavalle.work">
</head>
<body>

{{content}}

</body>
</html>
